<a href="https://colab.research.google.com/github/lizsolano/Optativa_profesionalizante_I/blob/main/Limpiar_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 3**

# NumPy: Librería Fundamental para Computación Científica en Python

***NumPy (Numerical Python)*** es una librería fundamental para la computación científica en Python. Es la base de muchas otras librerías y herramientas en el ecosistema de ciencia de datos y aprendizaje automático de Python.

## Características Principales

1. **Arrays Multidimensionales**: NumPy introduce el objeto ndarray (n-dimensional array), que permite crear y manipular arrays de cualquier dimensión de manera eficiente.

2. **Operaciones Vectorizadas**: Permite realizar operaciones en arrays completos sin necesidad de bucles explícitos, lo que resulta en un código más limpio y eficiente.

3. **Funciones Matemáticas**: Proporciona una amplia gama de funciones matemáticas que operan directamente sobre arrays.

4. **Álgebra Lineal**: Incluye funciones para operaciones de álgebra lineal como producto de matrices, descomposición en valores singulares, etc.

5. **Generación de Números Aleatorios**: Ofrece herramientas para generar números aleatorios y muestras de diferentes distribuciones probabilísticas.

6. **Transformadas de Fourier**: Proporciona funciones para realizar transformadas de Fourier y otras operaciones en el dominio de la frecuencia.

7. **Integración con C/C++ y Fortran**: Permite una fácil integración con código escrito en lenguajes de bajo nivel para tareas intensivas en cálculo.

## Ventajas de NumPy

- **Eficiencia**: Las operaciones en arrays de NumPy son mucho más rápidas que las listas de Python estándar.
- **Menos Código*

## Cargamos librerías pandas y numpy

In [ ]:
import pandas as pd
import numpy as np

# Crear un DataFrame con datos sucios

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, 6, 7, np.nan, 9],
    'C': ['a', 'b', 'c', 'd', 'e'],
    'D': ['foo', 'bar', 'foo', 'bar', 'foo']
})

print("DataFrame original:")
print(df)

DataFrame original:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  NaN  7.0  c  foo
3  4.0  NaN  d  bar
4  5.0  9.0  e  foo

# Eliminar filas con valores nulos

In [ ]:
df_clean = df.dropna()
print("\nDataFrame sin filas nulas:")
print(df_clean)

DataFrame sin filas nulas:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
4  5.0  9.0  e  foo

# Rellenar valores nulos

In [ ]:
df_filled = df.fillna(value={'A': df['A'].mean(), 'B': df['B'].median()})
print("\nDataFrame con valores nulos rellenados:")
print(df_filled)

DataFrame con valores nulos rellenados:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  3.0  7.0  c  foo
3  4.0  6.5  d  bar
4  5.0  9.0  e  foo

# Eliminar duplicados

In [ ]:
df_no_duplicates = df.drop_duplicates(subset=['D'])
print("\nDataFrame sin duplicados en la columna D:")
print(df_no_duplicates)

DataFrame sin duplicados en la columna D:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar

# Renombrar columnas

In [ ]:
df_renamed = df.rename(columns={'A': 'Alpha', 'B': 'Beta', 'C': 'Charlie', 'D': 'Delta'})
print("\nDataFrame con columnas renombradas:")
print(df_renamed)

DataFrame con columnas renombradas:
   Alpha  Beta Charlie Delta
0    1.0   5.0       a   foo
1    2.0   6.0       b   bar
2    NaN   7.0       c   foo
3    4.0   NaN       d   bar
4    5.0   9.0       e   foo