<a href="https://colab.research.google.com/github/lizsolano/Optativa_profesionalizante_I/blob/main/Operaciones_basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 4

#*** Operaciones Básicas***

## Cargar librería pandas

In [1]:
import pandas as pd


# Crear un DataFrame de ejemplo

In [2]:

df = pd.DataFrame({
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos', 'Sofía'],
    'Edad': [25, 30, 22, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
    'Puntuación': [85, 92, 78, 95, 88]
})

print("DataFrame original:")
print(df)

DataFrame original:
   Nombre  Edad     Ciudad  Puntuación
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   María    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofía    35  Barcelona          88

# Filtrado

In [3]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Personas mayores de 25 años:
   Nombre  Edad     Ciudad  Puntuación
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofía    35  Barcelona          88

In [ ]:
# Agrupación y agregación

In [4]:
resultado = df[df['Edad'] > 25].groupby('Ciudad')['Puntuación'].max()
print("\nMáxima puntuación por ciudad para personas mayores de 25 años:")
print(resultado)

Máxima puntuación por ciudad para personas mayores de 25 años:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuación, dtype: int64


# Filtrado y agregación combinados

In [5]:
resultado = df[df['Edad'] > 25].groupby('Ciudad')['Puntuación'].max()
print("\nMáxima puntuación por ciudad para personas mayores de 25 años:")
print(resultado)

Máxima puntuación por ciudad para personas mayores de 25 años:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuación, dtype: int64